<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-dfNtP91DycuLsSKQ1zpL9d5Dk7v8hsjNWTlHiDzbT9zS1N7gO2gBydAVvcKA4T0Q" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa; /* Agrega un color de fondo a la página */
        }

        .container {
            margin-top: 50px; /* Ajusta el margen superior para centrar la tabla */
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-center mb-4">Lista de Servicios</h2>
        <div class="text-end">
            <a th:href="@{/newServicio}" class="btn btn-primary">Nuevo</a>
            
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id Servicio</th>
                    <th>Tipo de Servicio</th>
                    <th>Nombre del Servicio</th>
                    <th>Precio del Servicio</th>                   
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="servicio: ${servicios}">
                    <td th:text="${servicio.id_servicio}"></td>
                    <td th:text="${servicio.tipo}"></td>
                    <td th:text="${servicio.nombre}"></td>
                    <td th:text="${servicio.precio}"></td>
                    <td>
                        <a th:href="@{/editarServicio/}+${servicio.id_servicio}" class="btn btn-warning">
                            <i class="bi bi-pencil"></i> 
                        </a>
                        <a th:href="@{/eliminarServicio/}+${servicio.id_servicio}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este servicio?')" >
                            <i class="bi bi-trash"></i> 
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-LC/fO7oFlbRU5P5a5h8e0QqDnbS/vUc9bKX6WqbDwO4c5G5F5Fs3UcGnErw9t6bR" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-tyjrMII4H9pwZ8nI/6vLGEff6rF5Dc9oBWzavKOTvQe098S6E5Ko5Fuf0lr5F5tP" crossorigin="anonymous"></script>
</body>
</html>